.background-image {
    position: relative;
    min-height: 100vh;
    overflow: hidden; /* Ensure the pseudo-element covers the entire container */
  }
  
.background-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/thumb-1920-236784.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.15; /* Adjust the opacity value here */
    z-index: -1; /* Ensure the pseudo-element is behind the content */
}

.btn.btn-success:disabled{
  opacity: 1.0;
}
.btn.btn-danger:disabled{
  opacity: 1.0;
}
.btn.btn-light:disabled{
  opacity: 1.0;
}
